body {
    color: #68abc2;
    text-align: center;
    margin: 0;
    font-family: "Orbitron", serif;
}

.hero-section {
    background-image: url("./images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}

.apply-btn {
    padding: 8px 12px;
    background-color: white;
    border: none;
    font-family: "Orbitron", serif;
    color: #68abc2;
    font-weight: bold;
}

h1 {
 
    text-shadow: 0 0 4px black;
}

.title-span {
    border-bottom: 5px solid white;
}


#logo {
    width: 100px;
}


